/* WRAPPER */
.tb-wrapper {
  width: 100%;
  background: #111;
  color: #fff;
  font-size: 14px;
}

/* CONTAINER */
.tb-container {
  /* max-width: 1200px; */
  margin: auto;
  padding: 8px 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  /* KEY LINE */
  justify-content: flex-end;
}

/* LEFT */
.tb-left {
  display: flex;
  align-items: end;
}

.tb-help-link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.tb-help-link:hover {
  color: #ff4d7e;
}


/* RIGHT */
.tb-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* PROFILE */
.tb-profile {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tb-user-icon {
  font-size: 22px;
}

.tb-username {
  font-weight: 500;
}

/* BUTTONS */
.tb-login-btn,
.tb-logout-btn {
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 13px;
  transition: 0.3s;

}

/* LOGIN */
.tb-login-btn {
  background: #ff4d7e;
  color: #fff;
}

.tb-login-btn:hover {
  background: #e63b6b;
}

/* LOGOUT */
.tb-logout-btn {
  background: rgb(215, 74, 74);
  /* border: 1px solid #fff; */
  color: #fff;
}

.tb-logout-btn:hover {
  background: #fff;
  color: #111;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .tb-container {
    flex-direction: column;
    gap: 8px;
  }

  .tb-divider {
    display: none;
  }
}

/* Navbar */
.navbar {
  background: #f4f4f4;
  padding: 8px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo FIX */
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 80px;   /* control logo size */
  width: auto;
  object-fit: contain;
}

/* Menu */
.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-weight: 500;
  color: #333;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  transition: 0.2s;
}

.nav-links li:hover {
  color: #0aa66e;
}

/* Buttons */
.nav-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Base button style */
.nav-buttons button {
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  white-space: nowrap;
}

/* Outline */
.btn-outline {
  border: 1px solid #0aa66e;
  background: transparent;
  color: #0aa66e;
}

/* Filled */
.nav-btn-primary {
  border: 1px solid #0aa66e;
  background: #0aa66e;
  color: white;
}