/* ===== WRAPPER ===== */
.svcgrid-wrapper {
  padding: 40px 0;
}

/* ===== GRID ===== */
.svcgrid-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* ===== CARD ===== */
.svcgrid-card {
  max-width: 100%;
  /* width: 30px; */
  background: #fff;
  border: 1px solid #e5e7eb;
  padding: 40px 30px;
  text-align: left;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

/* Hover effect */
.svcgrid-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  /* background: linear-gradient(135deg, #ff4d7e, #d81b60); */
  background: linear-gradient(135deg, #0AA66e, #d81b60);

}

.svcgrid-card:hover h3,
.svcgrid-card:hover p {
  color: #fff;
}



/* ===== ACTIVE CARD (PINK ONE) ===== */
.svcgrid-card {
  /* background: linear-gradient(135deg, #ff4d7e, #d81b60); */
  color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  border: none;
}

/* subtle circle effect */
.svcgrid-card::after {
  content: "";
  position: absolute;
  top: -50px;
  right: -50px;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

/* ===== ICON ===== */
.svcgrid-icon {
  margin-bottom: 20px;
  color: #e60343;
}

/* icon color in active */
/* .svcgrid-card.active .svcgrid-icon {
  color: #fff;
} */

/* ===== TITLE ===== */
.svcgrid-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #0f172a;
}

/* white text for active */
/* .svcgrid-card .svcgrid-title {
  color: #fff;
} */

/* ===== DESCRIPTION ===== */
.svcgrid-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #475569;
  margin-bottom: 20px;
}

/* active desc */
/* .svcgrid-card .svcgrid-desc {
  color: rgba(255,255,255,0.9);
} */

/* ===== LINK ===== */
.svcgrid-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #ff4d7e;
  text-decoration: none;
  transition: 0.3s;
}

.svcgrid-link:hover {
  gap: 5px;
  color: #e5e7eb;
}

/* active link */
/* .svcgrid-card .svcgrid-link {
  color: #fff;
} */

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .svcgrid-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .svcgrid-grid {
    grid-template-columns: 1fr;
  }
}